<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Skills Index</title>
</head>
<body>
  <header>
    <h1>Dev Skills as of <%= time %> </h1>
  </header>
  <a href="/skills/new">Learn New Skill</a>
  <ul>
    <% skills.forEach(skill => { %>
      <li>
        <form action="/skills/<%= skill._id %>?_method=DELETE" class="unlearn" method="POST">
          <button type="submit">Unlearn</button>
        </form>
        <a href="/skills/<%= skill._id %>"><%= skill.name %></a>
        | Type:
        <%= skill.type %>
				| Proficiency level:
				<%= skill.proficiency %>
			</li>
    <% }) %>
  </ul>
</body>
</html>
