<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= skill.name %></title>
</head>
<body>
  <h1>Skill Detail</h1>
  <a href="/skills/<%= skill._id %>/edit">Edit Skill</a>
  <h2>Name: <%= skill.name %></h2>
  <h2>Type: <%= skill.type %></h2>
  <h2>Proficiency: <%= skill.proficiency %></h2>
	<a href="/skills">Go back</a>
</body>
</html>
